/* VARS */

:root {
  --orange: #f87137;
  --orange-hover: #fa7c46;
  --blue: #02b0b0;
  --blue-hover: #03c5c5;
  font-size: 16px;
}

.push-to-top {
  z-index: 10;
}

.text-primary {
  color: var(--blue);
}

.text-secondary {
  color: var(--blue);
}

.btn {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
}

.btn-primary {
  color: #fff;
  background-color: var(--blue);
}

.btn-secondary {
  color: #fff;
  background-color: var(--orange);
}

.btn-light {
  color: #333;
  background-color: #eee;
}

.btn-dark {
  color: #eee;
  background-color: #333;
}

.btn-hollow {
  border: 2px solid #fff;
  color: #fff;
}

.btn:focus {
  outline: none;
}

.bg-light {
  background-color: #eee;
  color: #333;
}

.bg-blue {
  color: #fff;
  background-color: var(--blue);
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flexbox-columns {
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.split {
  display: flex;
  height: 100%;
}

.split.reverse {
  flex-direction: row-reverse;
}

.split .column {
  flex: 1;
}

.column-1 {
  
  width: 100%;
}

.column-2 .padding {
  padding: 30px;
}

.column-2 h2 {
  font-weight: bold;
  margin-bottom: 15px;
}

.column-2 h3 {
  font-weight: 400;
  margin-bottom: 15px;
}

.column-2 p {
  font-weight: 300;
  margin-bottom: 25px;
}

.grid {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
}

.grid-unit {
  flex-basis: 25%;
  margin: 10px;
}

.grid-unit img {
  width: 100%;
}

.section-padding {
  padding: 75px;
}

.heading {
  text-align: center;
}

.heading * {
  margin: 15px 0;
}

.heading h2 {
  font-weight: 400;
  font-size: 3rem;
}

.heading h4 {
  font-weight: 400;
}

.heading p {
  margin-bottom: 50px;
}

.form-row {
  width: 100%;
  margin: 20px 0;
}

.form-row label {
  display: block;
}

.form-row input {
  width: 100%;
  padding: 5px;
  border: 2px solid transparent;
}

.form-row input:focus {
  border: 2px solid var(--blue);
}
