@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");
@import "./globals.css";
@import "./sections/navbar.css";
@import "./sections/hero.css";
@import "./sections/about.css";
@import "./sections/events.css";
@import "./sections/blog-feature.css";
@import "./sections/team.css";
@import "./sections/contact.css";
@import "./sections/footer.css";
@import "./sections/media-queries.css";
@import "./sections/blog-posts.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
}
