.about-cards .icon-unit {
  margin: 0 15px;
}
.about-results .column-1 {
  background: url('../../images/home/people.jpg') no-repeat center center/cover
}
.about-cards h3 {
  font-weight: bold;
  margin-bottom: 20px;
}


.about-cards i {
  background-color: var(--blue);
  color: #fff;
  padding: 1.5rem;
  margin-bottom: 15px;
  border-radius: 50%;
}

.about-cards .fas {
  font-size: 3rem;
}

.about-results {
  height: 500px;
}

.about-results h2 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 5px;
}
