.about-cards {
  padding: 75px 15px;
}

.about-cards .icon-unit {
  margin: 0 15px;
}

.about-cards h3 {
  font-weight: bold;
  margin-bottom: 20px;
}

.about-cards i {
  background-color: var(--blue);
  color: #fff;
  padding: 1.5rem;
  margin-bottom: 15px;
  border-radius: 50%;
}

.about-cards .fas {
  font-size: 3rem;
}

.about-results {
  height: 500px;
}

.about-results .btn {
  display: inline-block;
}
